<%layout("layouts/boilerplate")-%>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card mb-5" style="width: 18rem">
        <img src="<%=foundCamp.image%>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%=foundCamp.title%></h5>
          <p class="card-text"><%=foundCamp.description%></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted"><%=foundCamp.location%></li>
          <li class="list-group-item fst-italic">Created by <%=foundCamp.author.username%></li>
          <li class="list-group-item">$<%=foundCamp.price%>/night</li>
        </ul>
        <%if(currentUser && foundCamp.author.equals(currentUser._id)){%>
        <div class="card-body">

          <form
            action="/campgrounds/edit/<%=foundCamp._id%>"
            class="d-inline card-link"
          >
            <button class="btn btn-info">Edit camp</button>
          </form>
          <form
            action="/campgrounds/<%=foundCamp._id%>?_method=DELETE"
            class="d-inline card-link"
            method="post"
          >
            <button class="btn btn-danger">Delete Camp</button>
          </form>
          <%}%>
          <%if(currentUser){%>
            <div>
              <a href="/campgrounds/<%=foundCamp._id%>/reviews/new">Add a Review</a>
            </div>
       
        </div>

        <!-- <pre>
          <code>
            <%=JSON.stringify(foundCamp, null, 2)%>
          </code>
        </pre> -->
        <div class="card-footer text-muted">2 days ago</div>
        <%}%>
        <%if(foundCamp.reviews.length){%>
        <div class="card mb-3">
          <div class="card-body">
              <%for(let review of foundCamp.reviews){%>
              <p>
                <%for(let i=1; i<=review.rating; i++){%>
                  &#9733;
                  <%}%>
               </p>
               <p class="card-text">"<%=review.body%>"<span>by <%=review.author.username%></span></p>
               
               <%if(currentUser && foundCamp.author.equals(currentUser._id)){%>
              <form action="/campgrounds/<%=foundCamp._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
              <button class="btn-danger btn-sm">Delete Review</button>
              </form>
            <%}%>
              <%}%>
          </div>
        </div>
        <%}%>
      </div>
      </div>
    </div>
  </div>
